.navbar-nav{
    padding-left: 440px;
    letter-spacing: 2px;
}

.navbar-nav a{
    padding-left: 25px;
}

img{
    width: 159px;
    height: 50px;
}

a:hover{
    margin-top: -3px;
    transition-delay: 0.4s;
}