<h2 class="text-uppercase">Nirvana Timeline</h2>
<div class="container-fluid">
    <div class="container">
        <ul>
            <li class="text-white">May 10, 1965 Krist Novoselic is born.</li>
            <li class="text-white">February 20, 1967 Kurt Cobain is born.</li>
            <li class="text-white">January 14, 1969 Dave Grohl is born.
            </li>
            <li class="text-white">Fall 1985 Kurt meets Krist. They play in several bands together, including Stiff Woodies.
            </li>
            <li class="text-white">December 1987 Kurt, Krist and drummer Aaron Burckhard form the original lineup of Nirvana in Aberdeen, Washington.
            </li>
            <li class="text-white">January 23, 1988 Nirvana records a 10-song demo with the “Godfather of Grunge,” legendary Seattle producer Jack Endino. Sub Pop co-honcho Jonathan Poneman hears the tape and offers to put out a Nirvana single. The band accepts.
            </li>
            <li class="text-white">October 30, 1988 Kurt smashes his first guitar.
            </li>
            <li class="text-white">June 1989 Bleach is released on Sub Pop. Nirvana embarks on a month-long U.S. tour.
            </li>
            <li class="text-white">September 25, 1990 Dave Grohl, former drummer for Washinton, D.C.’s Scream, joins Nirvana.
            </li>
            <li class="text-white">October 1990 Nirvana briefly tours England with L7.
            </li>
            <li class="text-white">Winter 1991 Nirvana signs with DGC Records.
            </li>
            <li class="text-white">August 1991 Nirvana opens for Sonic Youth on a European festival tour, which includes a landmark performance at the Reading Festival. The tour is documented in the film 1991: The Year Punk Broke.
            </li>
            <li class="text-white">September 24, 1991 Nevermind is released.
            </li>
            <li class="text-white">October 12, 1991 Nevermind is certified a gold album.
            </li>
            <li class="text-white">November 1991 The band starts a six-week European tour as Nirvanamania sweeps the United States. MTV airs “Smells Like Teen Spirit” video constantly; the song is hailed as an anthem for a generation.
            </li>
            <li class="text-white">January 11, 1992 Nevermind hits No. 1 on the Billboard 200 album chart.
            </li>
            <li class="text-white">January/February 1992 Nirvana tours Australia, Japan and Hawaii.
            </li>
            <li class="text-white">April 1992 Nirvana appears on the cover of Rolling Stone.
            </li>
            <li class="text-white">June/July 1992 Nirvana tours Europe.
            </li>
            <li class="text-white">December 15, 1992 Incesticide, a collection of B-sides and rarities, is released. It goes gold the following spring.
            </li>
            <li class="text-white">April 9, 1993 Nirvana plays a concert at San Francisco’s Cow Palace to raise awareness of and generate aid for rape survivors in Bosnia-Herzegovina. L7, the Breeders and Disposable Heroes of Hiphoprisy are also on the bill.
            </li>
            <li class="text-white">September 21, 1993 In Utero is released.
            </li>
            <li class="text-white">October 18, 1993 Nirvana starts a three-month tour of North America.
            </li>
            <li class="text-white">November 19, 1993 Nirvana tapes an all-acoustic show for “MTV Unplugged” at Sony Studios in New York. Cris and Curt Kirkwood of the Meat Puppets sit in on three Meat Puppets songs.
            </li>
            <li class="text-white">December 16, 1993 MTV airs Nirvana’s “Unplugged” show.
            </li>
            <li class="text-white">January 7, 1994 Nirvana plays the Seattle Arena. It will be the band’s last U.S. show.
            </li>
            <li class="text-white">February 6, 1994 Nirvana embarks on a tour of Europe.
            </li>
        </ul>
    </div>
</div>
