h3{
    margin-top: 100px;
    letter-spacing: 3px;
    color: #F6B922;
    font-size: 36px;
    text-align: center;
    margin-bottom: 70px;
}

h4{
    text-align: center;
}


section{
    align-items: center;
}

.container-fluid{
    width: 400px;

}

.checkbox{
    margin-top: 15px;
    font-size: 10px;
    margin-bottom: 15px;
}

#email{
    margin-bottom: 15px;
    color: #F6B922;
}

#cont{
    margin-bottom: 20px;
}

button{
    margin-bottom: 50px;
}